* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background: #fdfdfd;
}
.dark-text {
  color: #4c5976;
}
.main-container {
  display: flex;
  justify-content: space-between;
}
.search-section {
  width: 35%;
  min-height: 100vh;
}
.map-section {
  width: 65%;
  height: 100vh;
}
.brand-name {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
}
.brand-name a {
  font-weight: 500;
  font-size: 1.5rem;
}
.brand-name a span:nth-child(2) {
  color: #2ddbac;
}
.brand-arrow img {
  width: 18px;
}
.MuiAutocomplete-root {
  width: 100% !important;
  padding: 1rem;
}